.Login{
    background-image: url(../Images/main3.jpg);
    color: white;
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.LoginForm{
    width: 30%;
    height: 70vh;
    margin: auto;
    border-radius: 30px;
    padding: 2%;
    background-color: #f5f5f538;
    z-index: 10;
}
.Circle1{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: linear-gradient(152deg, rgb(145 137 0/53%), white);
    position: absolute;
    top: 38rem;
    left: 74rem;

}
.Circle2{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: linear-gradient(52deg, rgb(65 177 225/53%), white);
    position: absolute;
    top: 9rem;
    left: 32rem;
}

.LoginForm h1{
    text-align: center;
    font-size: 2.5rem;
    font-family:Arial, Helvetica, sans-serif;

}
.InputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
}
.inputIcon{
    font-size: 2rem;
    position: relative;
    left: 40px;
}

.Login .materialInput>div{
    background: rgba(202, 202, 202, 0.376) !important;
    color: white !important;
    border-radius: 30px;
}
.Login .materialInput{
    width: 70%;
    font-size: 1rem;
}
.Login .materialInput input{
    padding-left: 50px !important;
}
.LoginForm .materialInput>label{
    color: white !important;
    padding-left: 30px !important;
}
.LoginForm .materialInput .MuiInput-underline:before{
    border-bottom: 1px solid white;
}

.LoginForm .materialInput .MuiInput-underline:after{
    border-bottom: 1px solid rgb(65 177 225);
}
.submitBtn{
    background: linear-gradient(52deg, rgb(65 177 225/53%), rgb(255, 171, 171));
    color: black !important;
    display: block !important;
    margin: auto !important;
}
.LoginForm h3{
    text-align: center;
    margin: 7%;
}

.LoginWithGoogle{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: rgb(31, 61, 231);
    padding: 2px;
    border-radius: 5px;
    width: 40%;
}
.whiteBg{
    background-color: white;

}
.googleIcon{
    font-size: 2rem;
}
.LoginWithGoogle>div{
    display: grid;
    justify-content: center;
    align-items: center;
}

.Spacing{
    margin: 17% 0;
}